@import './vars';

// Body
body {
  margin: 0;
  font-family: serif;
  font-weight: 400;
  font-size: 16px;
  background: -webkit-linear-gradient(
    to right,
    #535455,
    #6a6b6c
  ); /* Chrome 10-25, Safari 5.1-6 */
  background: linear-gradient(
    to right,
    #575858,
    #525353
  ); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
}

// Wrapper
.wrapper {
  display: flex;
  flex-direction: column;
  min-height: 100vh;
}

// Main
.main {
  flex-grow: 1;
}

// Container
.container {
  max-width: 1230px;
  margin: 0 auto;

  padding: 0 15px;
}

audio {
  display: none;
}

button {
  outline-offset: 3px;
}

button:focus-visible:active {
  outline-offset: 1px;
}
