@import './vars';

// Body
body {
  font-family: serif;
  font-weight: 400;
  font-size: 16px;
  background: #131212;
}

// Wrapper
.wrapper {
  display: flex;
  flex-direction: column;
  min-height: 100vh;
}

// Main
.main {
  flex-grow: 1;
}

// Container
.container {
  max-width: 1230px;
  margin: 0 auto;

  padding: 0 15px;
}



