html {
  line-height: 1.15;
  -webkit-text-size-adjust: 100%;
  -webkit-font-smoothing: antialiased;
}

body {
  margin: 0;
}

main {
  display: block;
}

button {
  background-color: transparent;
  border: none;
}
